<%- include('../common/header.ejs') %>

 <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Entre em contato</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Caucaia, CE</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: azotaugusto@gmail.com</p>
    </div><br>
    <p>Vamos entrar em contato. Me mande uma mensagem:</p>

    <form action="/contato/salvar-contato" method="POST">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Nome" autocomplete="off"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email" autocomplete="off"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Assunto" required name="Assunto" autocomplete="off"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Mensagem" required name="Mensagem" autocomplete="off"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> Enviar mensagem
        </button>
      </p>
    </form>
  <!-- End Contact Section -->
  </div>



<%- include('../common/footer.ejs') %>