<%- include('../common/header.ejs') %>


            <!-- corpo dá página -->
    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
        <h2 class="w3-text-light-grey">Bem-vindo Administrador</h2>
        <hr style="width:200px" class="w3-opacity">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        </div>
        
             
           
    
    </div>
             
<!--<%- include('../common/footer.ejs') %> -->